/*! I apologise for this messy css! If it works it works? :) */

/* Project Styling */
header {
  height: 100%;
}

.lightBg {
  background-color: var(--color-primary5);
}
.darkBg {
  background-color: var(--color-secondary2);
}
.intro-section {
  gap: 2rem;
  display: flex;
  flex-flow: column nowrap;
  margin: 2rem auto 3rem;
}

.intro-section h1 {
  font-size: calc(var(--fs-900) * 0.7);
  margin-bottom: 0;
  line-height: 1;
  padding: 1rem;
}
.intro-section .title h2 {
  font-size: calc(var(--fs-800) * 0.3);
  line-height: 1;
  margin: 0;
  padding: 0;
  color: var(--color-primary1);
}
div h2 {
  font-size: var(--fs-600);
  color: var(--color-primary1);
  line-height: 1.5;
}
body li {
  line-height: 1.4;
}

h3 {
  padding-bottom: 2rem;
  font-weight: var(--fw-medium);
  font-size: var(--fs-700);
}
.title {
  text-align: center;
}
.title h1 {
  font-size: var(--fs-700);
}
.projectFocus {
  list-style-type: disc;
  font-family: inherit;
}

.projectFocus li {
  font-family: Ubuntu;
  margin-left: 1rem;
}
.solution-links {
  grid-column: span 3;
  display: flex;
  flex-flow: column wrap;
  align-self: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
.grid_1-1-1 p {
  margin: 1rem auto 2.5rem;
}
@media (min-width: 900px) {
  .solution-links a {
    color: var(--color-primary1);
    font-weight: var(--fw-bold);
  }

  .solution-links a::after {
    background-color: var(--color-primary1);
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
    margin-bottom: 4rem;
  }
  .span-2 {
    grid-column: span 2;
  }
  .span-3 {
    grid-column: span 3;
  }
  .span-2 {
    grid-column: span 2;
  }

  .order-reverse {
    order: -1;
  }

  .fontUi-Hero {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
  }

  .fontUi-Hero img {
    align-self: center;
    max-height: 100vh;
  }
}
