/** CSS RESET **/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}
html {
  font-size: 16px;
  background-color: rgb(21, 20, 23);
  color: rgb(223, 223, 232);
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  /* color propsˆ */
}

.container {
  width: min(1000px, 100% - (1rem * 2));
  margin-inline: auto;
}
.assignments ol {
  display: flex;
  flex-flow: column nowrap;
}
.assignment {
  border-bottom: 2px solid black;
}
.assignment > a {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  background-color: red;
  padding: 3rem;
  justify-content: space-between;
}

.assignment h3 {
  text-transform: uppercase;
  font-size: 2rem;
}

#fonts-link:hover {
}

/* copied from my deep dive project */
.banner-box {
  overflow: hidden;
}

.bannerH {
  white-space: nowrap;
  position: relative;
  background-color: red;
  color: white;
}

.sideScroll {
  display: inline-block;
  animation: sideScroll 1800s linear infinite;
}

@keyframes sideScroll {
  100% {
    transform: translateX(-100%);
  }
}
