/** CSS RESET **/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

html {
  font-size: 16px;
  /* background-color: rgb(21, 20, 23);
  color: rgb(223, 223, 232); */
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
